  @import 'general.css';
  
  .hero{
    width: 100%;
    position: relative;
  }

  .hero img{
    width: 100%;
    height: 100vh;
  }

  .hero_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
  }

  .hero_text h1{
    font-size: 3.5rem;
  }
  .hero_text h3{
    font-size: 2.5rem;
    /* color: #EEFDEC; */
  }
  .contact,
  .special,
  .products{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact .container,
  .special .container,
  .about .container,
  .products .container{
    max-width: 1150px;
  }

  .products .container{
    position: static;
  }

  .popular_products{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    gap: 3rem;
  }


  .popular_product_card img{
    width: 30rem;
    height: 34.375rem;
    border-radius: 12px;
  }

  .popular_product_card button{
      background-color: #ffff;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 600;
      color: orange;
      padding: 10px 15px;
      margin-top: .5rem;
      width: fit-content;
      align-self: flex-start;
      cursor: pointer;
      transition: all .5s ease;
  }
  
  .popular_product_card button:hover{
      background-color: orange;
      color: #ffff;
    }
  
  .popular_product_card{
    display: flex;
    position: relative
  }

  .popular_product_card_details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    bottom: 3%;
    left: 3%;
    color: #ffff;
  }

  .popular_product_card_details h4{
    font-size: 1.2rem;
    font-weight: 800;
  }

  .popular_product_card_details h3{
    font-size: 1.2rem;
    font-weight: 300;
  }

.slides{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: margin-left 1s ease;
}




.slider{
  margin-left: auto;
  width: 50vw;
  overflow: hidden;
  z-index: 4;
}

.slide_bnts{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.slide_bnts button{
  border-radius: 50%;
  padding: .4rem;
  border: none;
  cursor: pointer;
  background-color: #c3c3c3;

}

.active{
  background-color: orange !important;
}

  .about_text h2,
  .about_text h2 span{
    font-size: 2.5rem;
    text-align: start;
  }

  .about_text h2{
    color: #324d67;
    position: relative;
  }

  .about{
    position: relative;
  }

  .about_block{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    /* gap: 50px; */
    height: 550px;
    position: relative;
  }

 
  .about img{
    width: 500px;
    height: 500px;
    border-radius: 12px;
    border-top-right-radius: 50%;
    border: 1px solid #324d67;
    padding: 5px;
  }

  .about_text h2{
    
    margin-bottom: 20px;
  }

  .about p{
    margin-top: 20px;
  }

  .about_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 37.5rem;
  }

  

  .products p,
  .about_text p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #324d67;
  }

  .about_text .orange_button{
    margin-top: 40px;
    align-self: flex-start;
  }

  .benefits,
  .benefit{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .benefits{
    gap: 20px;
    margin-top: 20px;
  }
  .benefit_block{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 15px;
  }
  .benefit{
    justify-content: flex-start;
    font-size: 1.1rem;
    color: #324d67;
  }

  .benefit img{
    width: 45px;
  }

  .special .container{
    flex-direction: row;
  }
  
  .special_bg{
    width: 25.5rem;
    height: 18rem;
    position: relative;
    justify-self: center;
    align-self: center;
    /* border-top-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border: 3px solid #B09164;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    padding: 5px;
  }

  .upper_special_imgs{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: relative;
    
  }
  .special_imgs{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 37.5rem;
    height: 26rem;
  }
  .special_img{
    position: absolute;
    top: -5rem;
    right: -3rem;
  }
  .lower_special_imgs img,
  .special_img img{
    width: 10rem;
    height: 10rem;
    padding: 5px;
    background-color:  #B09164; 
  }

  .special_img img{
    /* border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 1px solid #B09164; */
    border-radius: 66% 34% 65% 35% / 38% 74% 26% 62% ;
  }

  .lower_special_imgs img{
    /* border-radius: 50%;  */
    border-radius: 45% 55% 37% 63% / 62% 42% 58% 38% ;
  }

  .lower_special_imgs{
    position: absolute;
    bottom: -3rem;
    left: -1rem;
  }

  .contact .about_img img{
    width: 400px;
    height: 500px;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    position: absolute;
    bottom: 0;
    left: -10px;
  }

  .contact .about{
    width: 50vw;
  }

  .contact_img_wrapper{
    width: fit-content !important;
    height: 34.375rem !important;
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .contact .about_img{
    width: 400px;
    position: relative;
    height: 500px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 3px solid #B09164;
    border-bottom: 0;
    padding: 15px 15px 0 15px;
  }

  .contact form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    max-width: 700px !important;
  }

  .contact h4{
    font-size: 1.25rem;
    color: #324d67;
  }

  .contact_numbers{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .5rem;
  }

  .contact_numbers a{
    color: #324d67;
    font-weight: bold;
  }

  .form_details,
  .contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 600px !important;
  }

  .form_details textarea,
  .form_details input{
    width: 580px;
  }

  .form_details textarea,
  .form_details input,
  .form_header input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #324d67;
    outline: none;
    background-color: #ffff;
    color: #324d67;
  }

  .form_header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between !important;
    gap: 1rem;
    width: 600px;
/* 
    align-self: flex-start !important;
    justify-self: flex-start !important; */
  }

  .form_header input{
    width: 270px;
  }

  .form_subheader{
    width: 50%;
    position: relative;
  }
  
  .contact form .orange_button{
    margin-top: 0;
    width: 600px;
  }

  .contact form .validation_error{
    background-color: #ffff;
    top: -25%;
  }
 

  @media only screen and (min-width: 1200px) {

  .slider{
    position: absolute;
    top: 5%;
    right: 0;
  }

  .products{
    height: fit-content;
    min-height: 500px;
  }
}

  @media only screen and (min-width: 900px) {
    /* .products .container{
    flex-direction: row;
    margin-right: 0;
  }

  .products .container{
    align-items: center;
    justify-content: space-between !important;
    margin: 0;
    gap: 50px;
  } */
  
  .products .about_text{
    align-items: start;
    justify-content: end;
    width: 500px;
    /* margin-left: auto; */
  }
  }

  @media only screen and (min-width: 700px) and (max-width: 1200px) {
    .slider{
      width: 60vw;
      margin: 30px auto;
    }

    .popular_products{
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .popular_products .about_text{
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .about_text .orange_button{
      align-self: center;
    }
  }



@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .special .container,
  .about_block{
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  .contact_img_wrapper{ 
    display: none;
  }

  .about_block{
    height: fit-content;
  }

  .lower_special_imgs img,
  .special_img img{
    width: 15vw;
    height: 15vh;
    padding: 5px;
    background-color:  #B09164; 
  }

  .lower_special_imgs{
    position: absolute;
    bottom: -20px;
    left: 10px;
  }

  .special_img{
    position: absolute;
    top: -5%;
    right: -3%;
  }

  .about img{
    width: 60vw;
    height: 50vh;
    border-radius: 12px;
    border-top-right-radius: 50%;
    border: 1px solid #324d67;
    padding: 5px;
  }
  
  .products .container{
    flex-direction: column;
  }

 
  }

  /* @media only screen and (min-width: 400px) and (max-width: 700px) {
    .contact .about_img img{
      width: 50vw;
      height: 80vh;
      bottom: 0;
      left: -5px;
    }
  
    .contact_img_wrapper{
      width: 80vw;
      height: 70vh;
      margin-bottom: 40px;
    }
  } */

  
  @media only screen and (max-width: 900px) {
    .hero_text{
      top: 2%;
      text-align: center;
    }

    .hero_text h1{
      font-size: 2rem;
    }
    .hero_text h3{
      font-size: 2rem;
      /* color: #EEFDEC; */
    }
   
    .popular_products{
    flex-direction: column;
  }
  .about_text .orange_button{
    align-self: center !important;
   }

  .slider{
    margin: auto;
    overflow: hidden;
  }

  .products{
    height: fit-content;
  }

  .hero img{
    height: 50vh;
  }
  
  .slider{
    margin-left: auto;
    width: 90vw;
    overflow: hidden;
    margin-top: 30px;
  }

  .popular_product_card img{
    width: 90vw;
  }

  .about_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90vw;
  }

  .about_text h2,
  .about_text h2 span{
    font-size: 2rem;
  }

  .about_text .orange_button{
    margin-top: 20px;
  }

  .about_block{
    flex-direction: column; 
justify-content: center;
    gap: 0;
    height: 120vh;
  }

  .about img{
    order: 1;
  }

  .about img{
    width: 80vw;
    height: 50vh;
    border-radius: 12px;
    border-top-right-radius: 50%;
    border: 1px solid #324d67;
    padding: 5px;
  }

  .special .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .special_imgs{
  
    width: 37.5rem;
    height: 26rem;
  }
  .special_img{
    position: absolute;
    top: -5rem;
    right: -3rem;
  }
  .lower_special_imgs img,
  .special_img img{
    width: 30vw;
    height: 20vh;
    padding: 5px;
    background-color:  #B09164; 
  }

  .lower_special_imgs{
    position: absolute;
    bottom: -20px;
    left: 10px;
  }

  .special_imgs{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 30vw;
    height: 26rem;
  }
  .special_img{
    position: absolute;
    top: 3%;
    right: 3%;
  }

  .special_bg{
    width: 90vw;
    height: 40vh;
    position: relative;
    justify-self: center;
    align-self: center;
    /* border-top-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border: 3px solid #B09164;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    padding: 5px;
  }
  .benefit_block,
  .benefits{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  .special .about_text h2,
  .special .about_text h2 span{
    font-size: 1.75rem;
    text-align: center;
  }

  .contact,
  .special,
  .products{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contact .about_block{
    height: 60vh;
  }

  .contact h4{
    font-size: 1.3rem;
  }

  .contact_numbers{
  width: 86vw;
  gap: 10px;
  }

  .contact .about_img img{
    width: 10rem;
    height: 34.375rem;
    left: -10px;
  }

  .contact_img_wrapper{
    display: none;
    width: 35rem;
    height: 34.375rem;
  }

  .contact .about_img{
    width: 10rem;
    height: 34.375rem;

    padding: 15px 15px 0 15px;
  }

  /* .contact .about_text{
    /* margin-top: 40px;
    margin-bottom: 40vh ; 
  } */

  .form_details,
  .contact form{
    align-items: center;
    justify-content: center;
    width: 85vw;
  }

  .form_header input,
  .form_details textarea,
  .form_details input{
    width: 80vw;
  }

  .form_header{
    align-items: flex-start;
    align-self: flex-start;
    justify-self: flex-start !important;
    flex-direction: column;
    width: fit-content;
    max-width: 80vw;
  }

  .form_details, .contact form{
    width: fit-content !important;
  }

  .contact form .orange_button{
    width: 85vw;
  }

  .contact form .validation_error{
    font-size: .75rem !important;
  }
  }